<html>

<head>

</head>
<body>
    <h2>Welcome to home About page using Express Javascipt</h2>
    <h1>Rendering with HBS Engine</h1>
    <p>My name is {{name}} and my age is {{age}}</p>
</body>

</html>