<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:100" rel="stylesheet">
<style>
    p {margin: 0 !important}
</style>
</head>
<body style="font-family: 'Alegreya Sans'; background-color: rgb(159, 202, 236); color:white">
    <div style="display:flex;text-align:center; justify-content: center;flex-wrap: wrap">
    <h2 style="flex-basis:100%">Weather data for city</h2>
        <form style="flex-basis: 100%">
        <input placeholder="Location" style="padding:8px; border: 2px solid #cccccc; border-radius:15px;padding-left:15px;outline:none">
        <button style="padding:8px; border:1px solid rgb(37, 107, 107);cursor:pointer; background-color: teal; color:white;outline:none">Search</button>
    </form>
    <div style="height:70px; width:400px;flex-basis:100%"><h1 id="city-name"></h1></div>
    <div style="height: 20px;flex-basis:100%" id="date"></div>
    <img id="icon" width="0" height="0"/>
    <div style="margin-bottom: 25px;width:200px;height:80px;flex-basis:100%;"><p id="temp" style="font-size:70px; font-weight:100; flex-basis:100%"></p></div>

    <div id="first-day" style="width:200px;height:200px;"><p id="temp2" style="font-size:1.2em; font-weight:100; flex-basis:100%"></p></div>
    <div id="second-day" style="width:200px;height:200px;"><p id="temp3" style="font-size:1.2em; font-weight:100; flex-basis:100%"></p></div>
    <div style="width:200px;height:200px;"><p id="temp4" style="font-size:1.2em; font-weight:100; flex-basis:100%"></p></div>

    <div id="summary-container" style="visibility:hidden;margin-top: 15px;flex-basis:100%; padding:8px;width: 300px;color:white; border-radius: 8px; background-color:#FFB630;box-shadow: 0 1px 6px rgb(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24)"><p id="message-1" style="color: purple"></p></div>
    <p  style="flex-basis: 100%" id="message-2"></p>
    </div>

    <script>
        const formElement = document.querySelector('form');
        const inputElement = document.querySelector('input');
        const messageOne = document.querySelector('#message-1');
        const messageTwo = document.querySelector('#message-2');
        const cityName = document.querySelector('#city-name');
        const temperature = document.querySelector('#temp');
        const temperature2 = document.querySelector('#temp2');
        const temperature3 = document.querySelector('#temp3');
        const temperature4 = document.querySelector('#temp4');
        const dateNow =  document.querySelector('#date');
        const iconly = document.querySelector('#icon');
        const summaryContainer = document.querySelector('#summary-container');
        const firstDay = document.querySelector('#first-day');
        const secondDay = document.querySelector('#second-day');
        const icons = {
            "partly-cloudy-night" : "https://vectr.com/wintersoil/aX2HNYp7D.svg?width=200&height=200&select=aX2HNYp7Dpage0",
            "clear-night": "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Weather-clear-night.svg/480px-Weather-clear-night.svg.png",
            "cloudy": "https://vectr.com/wintersoil/d1YahVCtg.svg?width=200&height=200&select=d1YahVCtgpage0",
            "rain": "https://vectr.com/wintersoil/h329mdVsZ.svg?width=200&height=200&select=h329mdVsZpage0",
            "snow": "https://vectr.com/wintersoil/botvumUlr.svg?width=200&height=200&select=botvumUlrpage0",
            "wind": "https://vectr.com/wintersoil/a5DEdU2iU1.svg?width=200&height=200&select=a5DEdU2iU1page0",
            "clear-day": "https://vectr.com/wintersoil/a1PujfHbZ3.svg?width=200&height=200&select=a1PujfHbZ3page0",
            "partly-cloudy-day": "https://vectr.com/wintersoil/a1fvg1dKY6.svg?width=200&height=200&select=a1fvg1dKY6page0",
            "fog": "https://vectr.com/wintersoil/mqRyQDq7Z.svg?width=200&height=200&select=mqRyQDq7Zpage0",

        }

        formElement.addEventListener('submit', (e) => {
            e.preventDefault();
            const location = inputElement.value;
            messageOne.textContent = 'Loading Results';
            messageTwo.textContent = '';
            fetch('/weather/?address=' + location).then((response) =>{
            response.json().then((data) => {
                console.log(data);
                if(data.error)
                {
                    messageTwo.textContent = data.error;
                }
                else
                {
                    messageOne.innerHTML = "Temperature is " + data.temperature + "°C<br> Precipitation is " + (data.precipitation*100) + "% chance<br> Summary: " + data.summary + "<br> Location: " + data.area;
                    cityName.textContent = data.area;
                    temperature.textContent = data.temperature + "°";
                    var d = new Date();
                    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

                    temperature2.innerHTML = days[(d.getDay() + 1)%7] + "<br><img src='"+ icons[data.icon2] +"' width='100px' height='100px'/><br>" + data.oneDayAfterTempHigh + "°    |    " + data.oneDayAfterTempLow + "°";
                    temperature3.innerHTML = days[(d.getDay() + 2)%7] + "<br><img src='"+ icons[data.icon3] +"' width='100px' height='100px'/><br>" + data.twoDayAfterTempHigh + "°    |    " + data.twoDayAfterTempLow + "°";
                    temperature4.innerHTML = days[(d.getDay() + 3)%7] + "<br><img src='"+ icons[data.icon4] +"' width='100px' height='100px'/><br>" + data.threeDayAfterTempHigh + "°    |    " + data.threeDayAfterTempLow + "°";
                    var d = new Date();
                    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    dateNow.textContent = days[d.getDay()] + ", " + months[d.getMonth()] + " " + d.getDate() + ", 20" + d.getYear().toString().slice(1);
                    iconly.setAttribute("src", icons[data.icon]);
                    iconly.height = "200";
                    iconly.width = "200";
                    summaryContainer.style.visibility = "visible";
                    firstDay.style.borderRight = "1px solid rgb(140,176,232)";
                    secondDay.style.borderRight = "1px solid rgb(140,176,232)";
                }
            });
        });

        });
    </script>
</body>

</html>

<!-- A machine-readable text summary of this data point, suitable for selecting an icon for display.
If defined, this property will have one of the following values:

clear-day, completed
clear-night, completed
rain, completed
snow, completed
sleet,
wind, completed
fog, completed
cloudy, completed
partly-cloudy-day,
partly-cloudy-night. completed

(Developers should ensure that a sensible default is defined, as additional values, such as hail, thunderstorm, or tornado, may be defined in the future.) -->